body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/mahogany.jpg');
  background-size: cover;
  background-position: center center;
}

main{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#board-wrapper{
  width: 100%;
  height: 90%;
  display: flex;

}

.board-side-boarder-right{
  width: 10%;

}

.board-side-boarder-left{
    width: 10%;

}

#board{
  width: 80%;
  display: flex;

}

#bottom-of-board{
  width: 100%;
  height: 20%;
  background-color: #f47777
}

 /*lshould go into new file*/
 main li {
   list-style: none;
   height: 100px;
   width: 100px;

   margin: 10px;
 }
 main  ul  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .hidden{
   background-image: url('../images/back_of_card.jpeg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;
   background-size: contain;
   background-repeat: no-repeat;

    perspective: 300px;
    animation: animate-y 1s linear;
 }

 @keyframes animate-y {
   0% {transform: rotateY(0);}
  100% {transform: rotateY(180deg);}

 }



 .card1{
   background-image: url('../images/apple.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;
 }
 .card2{
   background-image: url('../images/pineapple.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;
 }
 .card3{
   background-image: url('../images/pair.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;
 }
 .card4{
   background-image: url('../images/blueberry.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card5{
   background-image: url('../images/strawberry.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card6{
   background-image: url('../images/pepper.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card7{
   background-image: url('../images/wallnuts.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card8{
   background-image: url('../images/carrots.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card9{
   background-image: url('../images/lemons.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card10{
   background-image: url('../images/cherrys.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card11{
   background-image: url('../images/cucs.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }

 .card12{
   background-image: url('../images/watermelon.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
 .card13{
   background-image: url('../images/green_veggy.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;
 }
 .card14{
   background-image: url('../images/corn.jpg');
   max-height: 100px;
   max-width: 100px;
   background-size: cover;
   background-position: center center;

 }
